.App {
  text-align: center;
}
body{
  background-color: #f5f6f8;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weired{
  margin-top: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;

}
.weired>h1{
 font-size: 50px;
}
.weired>div{
  background-color: white;
  width: 30%;
  margin: auto;
  height: 55px;
  display: flex;
}
.weired>div>div{
  width: 15%;
}
.weired>div>div>img{
  background-color: white;
  height: 22px;
  width: 22px;
  margin-left: 20px;
  margin-top: 15px;
}
.weired>div>input{
  width: 85%;
  border: none;
}
.weired>div>input:focus{
  width: 85%;
  outline: none;
}
.dislayData{
  width: 30%;
 margin: auto;
 }
.dislayData>div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 7px;
}

.dislayData>div>div{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
 }
 .dislayData>div h5,h6{
 margin-left: 10px;
 color: #878e95;
 text-align: left;
 }
 .dislayData>div>div:nth-child(2)>div{
  width: 8px;
  height: 8px;
border-radius: 10px;
 }
 .dislayData>div>div{
display: flex;
height: auto;
 }
 .dislayData>div>div:nth-child(1)>div:nth-child(1){
 height: 100%;
 width:30px;
   }
   .dislayData>div>div:nth-child(1)>div>img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
      }


.upGo{
  position: fixed;
  top: 90vh;
  left: 95vw;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.upGo>img{
width: 100%;
height: 100%;
}
.upGo>img:hover{
  cursor: pointer;
  width: 35px;
  height: 35px;
  }