.App {
  text-align: center;
}
body{
  background-color: #f5f6f8;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.weired{
  margin-top: 150px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;

}
.weired>h1{
 font-size: 50px;
}
.weired>div{
  background-color: white;
  width: 30%;
  margin: auto;
  height: 55px;
  display: flex;
}
.weired>div>div{
  width: 15%;
}
.weired>div>div>img{
  background-color: white;
  height: 22px;
  width: 22px;
  margin-left: 20px;
  margin-top: 15px;
}
.weired>div>input{
  width: 85%;
  border: none;
}
.weired>div>input:focus{
  width: 85%;
  outline: none;
}
.dislayData{
  width: 30%;
 margin: auto;
 }
.dislayData>div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 7px;
}

.dislayData>div>div{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
 }
 .dislayData>div h5,h6{
 margin-left: 10px;
 color: #878e95;
 text-align: left;
 }
 .dislayData>div>div:nth-child(2)>div{
  width: 8px;
  height: 8px;
border-radius: 10px;
 }
 .dislayData>div>div{
display: flex;
height: auto;
 }
 .dislayData>div>div:nth-child(1)>div:nth-child(1){
 height: 100%;
 width:30px;
   }
   .dislayData>div>div:nth-child(1)>div>img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
      }


.upGo{
  position: fixed;
  top: 90vh;
  left: 95vw;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.upGo>img{
width: 100%;
height: 100%;
}
.upGo>img:hover{
  cursor: pointer;
  width: 35px;
  height: 35px;
  }

  .SingleSpecies{
    width: 100%;
    height: 100vh;
    background-color: rgba(136,136,138, 0.7);
    position: fixed;
    top: 0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .centerDiv{
    width: 25%;
    height: 40%;
    border-radius: 15px;
    background-color: white;
    margin-top: 180px;
  }

  .closeDIv{
    height: 14%;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    align-items: center;
    font-size: 25px;
  }
  .closeDIv > h4:hover{
   cursor: pointer;
  }
  .imgSec{
    display: flex;
    width: 90%;
    margin: auto;
    height: 38%;
  }
  .imgSec>div:nth-child(1){
    width: 30%;
margin-left: 15px;
  }
  .imgSec>div:nth-child(1)>img{
    width: 100px;
    height:100px;
    border-radius: 200px;
  }
  .imgSec>div:nth-child(2){
    width: 50%;
margin-left: 5%;
  }
  .imgSec>div:nth-child(2) h3{
   text-align: left;
  }
  .imgSec>div:nth-child(2)>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    margin-top: 0px;
    
   }
   .imgSec>div:nth-child(2)>div>div{
    width: 10px;
   height: 10px;
 border-radius: 10px;
 
   }
   .imgSec>div:nth-child(2)>div>h4{
  margin-left: 10px;
 
   }
   .imgSec>div:nth-child(2)> h3{
   font-weight: 900;
   
     }
.lineDiv{
  width: 85%;
  margin: auto;
  background-color: #d0d0d0;
  height: 2.5px;
  border-radius: 2.5px;

}
.detSec{
  height: auto;
  width: 85%;
margin: auto;
margin-top: 10px;
}
.detSec >div{
  display: flex;
  width:100%;
  height:60px;
  align-items: center;
  justify-content: center;
}
.detSec >div>div{
  width: 50%;
}
.detSec >div>div h5,h4{
  text-align: left;
  margin: 0;
}
.detSec >div>div h5{
 color: #a5a9b2;
}